.panel {
  border: 1px solid #333;
  border-radius: 4px;
  padding: 16px;
}

.panel-entrada {
  margin-bottom: 16px;
}

.fila-inferior {
  display: flex;
  gap: 16px;
}

.panel-canales,
.panel-vista {
  flex: 1;
}

.panel-canales app-color-channel {
  display: block;
  padding: 8px 0;
}

.panel-canales app-color-channel:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
